.superheroContainer {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 80%;
  grid-gap: 30px;
}

.bottomRef {
  margin-bottom: 100px;
}

.bottomGap {
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}
